# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual environments
# -------------------------
env/
.venv/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Data (DO NOT COMMIT)
# -------------------------
*.csv
*.parquet
*.npz
*.npy

data/raw/*
data/processed/*
!data/raw/.keep
!data
