# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data outputs
data/raw/*
data/processed/*
!data/raw/.keep
!data/processed/.keep

# Models
models/*

# OS
.DS_Store
Thumbs.db
